// .course-list {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//   gap: 1.5rem;
//   padding: 1.5rem;
// }
.course-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  //   padding: 1.5rem;
}

.course-list app-course-card {
  flex: 1 1 300px; /* all cards same width */
  display: flex;
}

.course-list mat-card {
  flex: 1;
  display: flex;
  flex-direction: column;
}
