:host {
  display: block;
  height: 100%;
}

ngx-monaco-editor {
  display: block;
  height: 90%; /* or 100% if parent has height */
}

.spacer {
  flex: 1 1 auto; /* allows the spacer to grow and fill available space */
}

.btn {
  display: flex;
  justify-content: space-between;
}
