<!-- @if (isBrowser) {
<ngx-monaco-editor
  [(ngModel)]="code"
  [options]="editorOptions"
></ngx-monaco-editor>
}
<div class="btn">
  <button mat-flat-button (click)="downloadCode()">Download Code</button>
  <span class="spacer"></span>
  <button mat-flat-button (click)="resetCode()">Reset Code</button>
  <span class="spacer"></span>
  <button mat-flat-button (click)="runCode()">Run Code</button>
</div> -->
<mat-sidenav-container class="editor-container">
  <!-- Collapsible side navigation -->
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary" class="sidenav-header">
      Explorer
      <span class="spacer"></span>
      <!-- <span> -->
      <!-- <button mat-icon-button>
        <mat-icon>note_add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>create_new_folder</mat-icon>
      </button> -->
      <!-- </span> -->
    </mat-toolbar>

    <!-- File Explorer Tree -->
    <mat-tree
      #tree
      [dataSource]="dataSource"
      [childrenAccessor]="childrenAccessor"
    >
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button matIconButton>
          <mat-icon>insert_drive_file</mat-icon>
        </button>
        {{ node.name }}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
        matTreeNodeToggle
        [cdkTreeNodeTypeaheadLabel]="node.name"
      >
        <button
          matIconButton
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ tree.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
        {{ node.name }}
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>

  <!-- Main editor area -->
  <mat-sidenav-content class="editor-content">
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      monaco editor
    </mat-toolbar>
    @if (isBrowser) {
    <ngx-monaco-editor
      [(ngModel)]="code"
      [options]="editorOptions"
    ></ngx-monaco-editor>
    }

    <div class="btn">
      <button mat-flat-button color="primary" (click)="downloadCode()">
        Download Code
      </button>
      <span class="spacer"></span>
      <button mat-flat-button color="accent" (click)="resetCode()">
        Reset Code
      </button>
      <span class="spacer"></span>
      <button mat-flat-button color="warn" (click)="runCode()">Run Code</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
