//  side navigator
:host {
  display: block;
  height: 100%;
}

/* Container that holds sidenav + editor */
.editor-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* Side navigation (Explorer panel) */
.sidenav {
  width: 250px;
  display: flex;
  flex-direction: column;
  // border-right: 1px solid rgba(0,0,0,0.12);

  @media (max-width: 600px) {
    // width: 80vw; 
  }
}

.sidenav-header {
  padding: 10px;
  font-weight: bold;
  // border-bottom: 1px solid #333;
}

/* File tree inside sidenav */
mat-tree {
  // flex: 1;
  padding: 5px;
  font-size: 14px;
}

mat-icon {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: middle;
}
.menu-button {
  margin-right: 8px;
}

/* Editor content area */
.editor-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  // height: 100vh;
  // width: 100vw;
}

/* Monaco editor */
ngx-monaco-editor {
  flex: 1;
  display: block;
  // border: 1px solid #333;
  height: auto; /* will stretch because of flex */
}

/* Action buttons row */
.btn {
  display: flex;
  justify-content: space-between;
  // margin-top: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.editor_picking {
  flex: 1;
  display: block;
  // border: 1px solid #333;
  height: auto; /* will stretch because of flex */
}

/* Add these to your scss file */

.terminal-resizer {
  height: 6px;
  // background-color: rgba(0, 0, 0, 0.1);
  cursor: ns-resize; /* North-South resize cursor */
  transition: background-color 0.2s;
  width: 100%;

  &:hover {
    background-color: #3f51b5; /* Primary color on hover */
  }
}

.terminal-wrapper {
  overflow: hidden; /* Prevent terminal from overflowing its container */
  display: flex;
  flex-direction: column;
}

