.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;

  mat-card {
    text-align: center;
    padding: 1rem;
  }
}
// .thumbnails-grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
//   gap: 1rem;
//   margin-top: 1rem;
// }

// .thumbnail-card {
//   mat-card-content {
//     text-align: center;
//   }

//   h3 {
//     font-size: 0.95rem;
//     font-weight: 600;
//     margin: 0.5rem 0 0.25rem 0;
//   }

//   .created-date {
//     font-size: 0.8rem;
//     color: #aaa;
//   }
// }
