<mat-tab-group [selectedIndex]="selectedIndex">
  <mat-tab label="Preferences">
    <nevy11-preferences-settings></nevy11-preferences-settings>
  </mat-tab>

  <mat-tab label="Profile">
    @if (isFirstTime) {
    <nevy11-profile-setup-stepper></nevy11-profile-setup-stepper>
    } @else {
    <!-- update this profile once to be able to locate the profile settings -->
    <nevy11-profile-settings></nevy11-profile-settings>
    }
  </mat-tab>

  <mat-tab label="Notifications">
    <nevy11-notification-settings></nevy11-notification-settings>
  </mat-tab>
</mat-tab-group>
