.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
mat-form-field {
  width: 100%;
}
.back_next {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.done {
  display: flex;
  justify-content: center;
}
