<button matButton="elevated" (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
</button>
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>choose a profile picture</ng-template>
    <!-- <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Last name, First name"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button matButton matStepperNext>Next</button>
      </div>
    </form> -->
    <mat-card class="avatar-card">
      <mat-card-header>
        <mat-card-title>Profile Picture</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="/about/laptop.jpg" alt="Profile Picture" class="avatar" />
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />
      </mat-card-content>
    </mat-card>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Enter your username</ng-template>
      <mat-form-field>
        <mat-label>username</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. username505"
          required
        />
      </mat-form-field>
      <div class="back_next">
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>update a short description</ng-template>
      <mat-form-field>
        <mat-label>short bio</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. i am the type of person who loves reading"
          required
        />
      </mat-form-field>
      <div class="back_next">
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p class="done">You are now done.</p>
    <div class="back_next">
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
