.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
mat-form-field {
  width: 100%;
}
.back_next {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.done {
  display: flex;
  justify-content: center;
}
.avatar-card {
  text-align: center;

  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem auto;
    display: block;
  }

  input[type="file"] {
    margin-top: 1rem;
  }
}
