@if (this.loadingUrls) {
  <nevy11-loader></nevy11-loader>
} @else {
  @for (card of cards | async; track card) {
    @if (card.mobile_device) {
      <div class="dashboard-grid">
        <mat-card class="welcome-card mat-elevation-z6">
          <mat-card-content>
            <div class="welcome-content">
              <img src="/about/laptop.jpg" class="user-avatar" />
              <div>
                <h2>
                  Welcome back, <span>{{ username }}</span>
                </h2>
                <p>
                  Continue where you left off or explore something new today.
                </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <!-- Continue Learning -->
        <mat-card class="continue-learning mat-elevation-z6">
          <mat-card-header>
            <mat-icon color="primary">play_circle_filled</mat-icon>
            <mat-card-title>Continue Learning</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>You were learning <strong>Angular Basics</strong>.</p>
            <p>Progress: <strong>60%</strong></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="ToLearning()">Resume</button>
          </mat-card-actions>
        </mat-card>
        @if (stats$ | async; as stat) {
          <mat-card class="stats-card mat-elevation-z4">
            <mat-icon color="primary">school</mat-icon>
            <h5>Courses Enrolled</h5>
            <p>{{ stat.enrolled }}</p>
          </mat-card>

          <mat-card class="stats-card mat-elevation-z4">
            <mat-icon color="accent">check_circle</mat-icon>
            <h5>Lesssons Completed</h5>
            <p>{{ stat.completed }}</p>
          </mat-card>
        } @else {
          <mat-card class="stats-card mat-elevation-z4">
            <mat-icon color="primary">school</mat-icon>
            <h5>Courses Enrolled</h5>
            <p>0</p>
          </mat-card>

          <mat-card class="stats-card mat-elevation-z4">
            <mat-icon color="accent">check_circle</mat-icon>
            <h5>Lesssons Completed</h5>
            <p>0</p>
          </mat-card>
        }

        <mat-card class="stats-graph mat-elevation-z2">
          <mat-card-title>Weekly Progress</mat-card-title>
          <mat-card-content>
            <div style="display: block; height: 250px; width: 100%">
              <canvas
                baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="barChartType"
              >
              </canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    } @else {
      <div class="dashboard-grid">
        <mat-card class="welcome-card mat-elevation-z6">
          <mat-card-content>
            <div class="welcome-content">
              <img src="/about/laptop.jpg" class="user-avatar" />
              <div>
                <h2>
                  Welcome back, <span>{{ username }}</span>
                </h2>
                <p>
                  Continue where you left off or explore something new today.
                </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <!-- Continue Learning -->
        <mat-card class="continue-learning mat-elevation-z6">
          <mat-card-header>
            <mat-icon color="primary">play_circle_filled</mat-icon>
            <mat-card-title>Continue Learning</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>You were learning <strong>Angular Basics</strong>.</p>
            <p>Progress: <strong>60%</strong></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="ToLearning()">Resume</button>
          </mat-card-actions>
        </mat-card>

        @if (stats$ | async; as stat) {
          <mat-card class="stats-card mat-elevation-z4">
            <mat-icon color="primary">school</mat-icon>
            <h5>Courses Enrolled</h5>
            <p style="margin-top: 5rem">{{ stat.enrolled }}</p>
          </mat-card>

          <mat-card class="stats-card mat-elevation-z4">
            <mat-icon color="accent">check_circle</mat-icon>
            <h5>Lesssons Completed</h5>
            <p>{{ stat.completed }}</p>
          </mat-card>
        } @else {
          <mat-card class="stats-card mat-elevation-z4">
            <mat-icon color="primary">school</mat-icon>
            <h5>Courses Enrolled</h5>
            <p>0</p>
          </mat-card>

          <mat-card class="stats-card mat-elevation-z4">
            <mat-icon color="accent">check_circle</mat-icon>
            <h5>Lesssons Completed</h5>
            <p>0</p>
          </mat-card>
        }

        <mat-card class="stats-graph mat-elevation-z2">
          <mat-card-title>Weekly Progress</mat-card-title>
          <mat-card-content>
            <div style="display: block; height: 250px; width: 100%">
              <canvas
                baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="barChartType"
              >
              </canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    }
  }
}
