.thumbnail-container {
  position: relative;
  max-width: 800px;
  margin: 2rem auto;
  border-radius: 8px;
  overflow: hidden;
  //   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.thumbnail-container-large {
  position: relative;
  max-width: 800px;
  margin: 2rem auto;
  border-radius: 8px;
  overflow: hidden;
  //   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.thumbnail-image {
  width: 100%;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 28px;
  border-radius: 50%;
}

.play-buttonTablet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 28px;
  border-radius: 50%;
}

.thumbnails-wrapper {
  display: flex;
  gap: 20px; /* Optional: space between thumbnails */
  justify-content: center; /* Center horizontally */
  flex-wrap: wrap; /* Wrap if screen is too narrow */
}
