@for (card of cards | async; track card) { @if (card.mobile_device) {
<div class="thumbnail-container">
  <img
    ngSrc="/video-image/python.png"
    width="280"
    height="150"
    alt="Course Preview"
    priority
  />

  <button
    mat-icon-button
    color="primary"
    class="play-button"
    (click)="openVideo()"
    matTooltip="Watch Course Preview"
    matTooltipPosition="above"
  >
    <mat-icon>play_circle</mat-icon>
  </button>
</div>
<div class="thumbnail-container">
  <img
    ngSrc="/video-image/html_full_course.png"
    width="280"
    height="156"
    alt="Course Preview"
    priority
  />

  <button
    mat-icon-button
    color="primary"
    class="play-button"
    (click)="openHtmlVideo()"
    matTooltip="Watch Course Preview"
    matTooltipPosition="above"
  >
    <mat-icon>play_circle</mat-icon>
  </button>
</div>
<!-- Third image displayed -->
<div class="thumbnail-container">
  <img
    ngSrc="/video-image/Rust.png"
    width="280"
    height="150"
    alt="Course Preview"
    priority
  />

  <button
    mat-icon-button
    color="primary"
    class="play-button"
    (click)="openRustVideo()"
    matTooltip="Watch Course Preview"
    matTooltipPosition="above"
  >
    <mat-icon>play_circle</mat-icon>
  </button>
</div>

} @else if (card.isTabletPotrait) {
<div class="thumbnail-container">
  <img
    ngSrc="/video-image/python.png"
    width="800"
    height="446"
    alt="Course Preview"
    priority
  />

  <button
    mat-icon-button
    color="primary"
    class="play-buttonTablet"
    (click)="openVideo()"
    matTooltip="Watch Course Preview"
    matTooltipPosition="above"
  >
    <mat-icon>play_circle</mat-icon>
  </button>
</div>
<div class="thumbnail-container">
  <img
    ngSrc="/video-image/html.png"
    width="650"
    height="485"
    alt="Course Preview"
    priority
  />

  <button
    mat-icon-button
    color="primary"
    class="play-buttonTablet"
    (click)="openHtmlVideo()"
    matTooltip="Watch Course Preview"
    matTooltipPosition="above"
  >
    <mat-icon>play_circle</mat-icon>
  </button>
</div>
<!-- Third image displayed -->
<div class="thumbnail-container">
  <img
    ngSrc="/video-image/Rust.png"
    width="650"
    height="363"
    alt="Course Preview"
    priority
  />

  <button
    mat-icon-button
    color="primary"
    class="play-buttonTablet"
    (click)="openRustVideo()"
    matTooltip="Watch Course Preview"
    matTooltipPosition="above"
  >
    <mat-icon>play_circle</mat-icon>
  </button>
</div>
} @else if (card.isSmallLaptop) {
<div class="thumbnail-container">
  <img
    ngSrc="/video-image/python.png"
    width="800"
    height="446"
    alt="Course Preview"
    priority
  />

  <button
    mat-icon-button
    color="primary"
    class="play-button"
    (click)="openVideo()"
    matTooltip="Watch Course Preview"
    matTooltipPosition="above"
  >
    <mat-icon>play_circle</mat-icon>
  </button>
</div>
<div class="thumbnail-container">
  <img
    ngSrc="/video-image/html.png"
    width="800"
    height="597"
    alt="Course Preview"
    priority
  />

  <button
    mat-icon-button
    color="primary"
    class="play-button"
    (click)="openHtmlVideo()"
    matTooltip="Watch Course Preview"
    matTooltipPosition="above"
  >
    <mat-icon>play_circle</mat-icon>
  </button>
</div>
<!-- Third image displayed -->
<div class="thumbnail-container">
  <img
    ngSrc="/video-image/Rust.png"
    width="800"
    height="446"
    alt="Course Preview"
    priority
  />

  <button
    mat-icon-button
    color="primary"
    class="play-button"
    (click)="openRustVideo()"
    matTooltip="Watch Course Preview"
    matTooltipPosition="above"
  >
    <mat-icon>play_circle</mat-icon>
  </button>
</div>
} @else if (card.isLargeLaptop) {
<div class="thumbnails-wrapper">
  <div class="thumbnail-container-large">
    <img
      ngSrc="/video-image/python.png"
      width="626"
      height="350"
      alt="Course Preview"
      priority
    />

    <button
      mat-icon-button
      color="primary"
      class="play-button"
      (click)="openVideo()"
      matTooltip="Watch Course Preview"
      matTooltipPosition="above"
    >
      <mat-icon>play_circle</mat-icon>
    </button>
  </div>
  <div class="thumbnail-container">
    <img
      ngSrc="/video-image/html.png"
      width="469"
      height="350"
      alt="Course Preview"
      priority
    />

    <button
      mat-icon-button
      color="primary"
      class="play-button"
      (click)="openHtmlVideo()"
      matTooltip="Watch Course Preview"
      matTooltipPosition="above"
    >
      <mat-icon>play_circle</mat-icon>
    </button>
  </div>
  <!-- Third image displayed -->
  <div class="thumbnail-container">
    <img
      ngSrc="/video-image/Rust.png"
      width="626"
      height="350"
      alt="Course Preview"
      priority
    />

    <button
      mat-icon-button
      color="primary"
      class="play-button"
      (click)="openRustVideo()"
      matTooltip="Watch Course Preview"
      matTooltipPosition="above"
    >
      <mat-icon>play_circle</mat-icon>
    </button>
  </div>
</div>
} @else {
<div style="color: red">Error</div>

} }
