// screen for mobile phone
@media (max-width: 600px) {
  .top-login {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-login h1 {
    color: #333;
  }
  .form-field {
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
  .login-button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .button-holder {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  .login-container {
    width: 80%;
    padding: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1980px) {
  .login-container {
    width: 50%;
    padding: 40px;
  }
}

@media (min-width: 1981px) {
  .login-container {
    width: 40%;
    padding: 50px;
  }
}
