<div class="top-login">
  <h1>Login</h1>
  <p>Enter your email and password to log in.</p>
</div>
<form class="form-login">
  <div class="form-field">
    <!-- email field -->
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="loginForm().email"
        placeholder="Ex. pat@example.com"
      />
      @if (loginForm().email.hasError('email') &&
      !loginForm().email.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
      } @if (loginForm().email.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <!-- Password field -->
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        [formControl]="loginForm().password"
      />
      <button
        matIconButton
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      @if (loginForm().password.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </div>
  <div class="button-holder">
    <button (click)="login()" mat-stroked-button class="login-button">
      login
    </button>
  </div>
</form>
<div class="bottom-login">
  <span class="dont-have-account">Do not have an account?</span>
  <button
    mat-button
    color="primary"
    (click)="toSignUp()"
    class="example-full-width"
  >
    Sign Up
  </button>
</div>

{{ loginForm().email.value }}
{{ loginForm().password.value }}
