// spacer for toolbar
.spacer {
  flex: 1 1 auto;
}

.body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* hides unwanted side scroll */
}

/* Top Bar */
.top-bar {
  height: 64px;
  display: flex;
  align-items: center;
  position: fixed; /* Makes it fixed */
  top: 0; /* Sticks it to the top */
  left: 0; /* Aligns to the left edge */
  width: 100%; /* Stretches across the viewport */
  z-index: 1000; /* Keeps it above other elements */
  // background: #fff; /* Optional: Add background to prevent content overlap */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

.brand-title {
  font-size: 20px;
  font-weight: bold;
}

// .top-bar {
//   height: 64px;
//   display: flex;
//   align-items: center;

// }
