// .search-container {
//   display: flex;
//   justify-content: center;
//   padding: 1rem;
// }

.search-field {
  width: 100%;
  max-width: 400px;
}

mat-form-field {
  border-radius: 8px;
}
.search-container {
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.search-results {
  position: absolute;
  top: 60px;
  width: 100%;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.search-results mat-list-item {
  cursor: pointer;
}

.no-results {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
}
