.learning-container {
  display: flex;
  flex-direction: row;
  height: 90vh;

  .video-section {
    flex: 1;
    padding: 0.5rem;
  }

  .editor-section {
    flex: 1;
    padding: 0.5rem;
    // margin-top: 1rem;
  }
}

/* Responsive for tablets & small screens */
@media (max-width: 1280px) {
  .learning-container {
    flex-direction: column;

    .video-section {
      height: 40vh;
    }

    .editor-section {
      height: 60vh;
    }
  }
}

.courses-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 20px;
  //   margin-left: 1rem;
}
.courses-header {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
