@use "@angular/material" as mat;

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 80rem;
  align-items: center;
}

.avatar-card {
  text-align: center;

  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem auto;
    display: block;
  }

  input[type="file"] {
    margin-top: 1rem;
  }
}

mat-card {
  max-width: 80rem;
  width: 100%;
}

@media (min-width: 80rem) and (max-width: 960px) {
  .profile-container {
    margin-left: 5rem;
  }

  .avatar-card {
    margin-left: 2rem;
  }
}

.card-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.actions-right {
  display: flex;
  justify-content: flex-end; /* push buttons to the right */
  gap: 10px; /* spacing between buttons */
}

mat-form-field {
  width: 100%; /* make fields take full card width */
}

mat-card p {
  padding: 20px;
}

mat-card-content {
  display: flex;
  flex-direction: column; /* stack elements vertically */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically if it has height */
  text-align: center;
}
form {
  margin-top: 2rem;
}

.accountDeletion {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.delete_button {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}
// .delete_button {
//   background-color: #e53935; // Material Red 600
//   color: white;

//   &:hover {
//     background-color: #d32f2f; // darker red
//   }
// }
