<!-- <div class="pre-footer-content">
  <h2 class="pre-footer-title">Join Our Learning Community</h2>
  <p class="pre-footer-text">
    AI-driven learning built for developers. Start today and unlock your
    potential.
  </p>
  <div class="pre-footer-actions">
    <button mat-raised-button color="accent">Get Started</button>
    <button mat-stroked-button color="primary">See Courses</button>
    <button mat-icon-button color="warn">
      <mat-icon>contact_support</mat-icon>
    </button>
  </div>
</div> -->
<section class="pre-footer">
  <div class="pre-footer-content">
    <h2 class="pre-footer-title">Join Our Learning Community</h2>
    <p class="pre-footer-text">
      AI-driven learning built for developers. Start today and unlock your
      potential.
    </p>
    <div class="pre-footer-actions">
      <button mat-stroked-button (click)="login()" color="primary">
        See Courses
      </button>
      <button mat-raised-button (click)="signUp()" color="accent">
        Get Started
      </button>
      <button mat-icon-button color="warn">
        <mat-icon>contact_support</mat-icon>
      </button>
    </div>
  </div>
</section>
