.sidenav-container {
  height: 100vh;
}

.topbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: var(--toolbar-height);
  font-size: var(--app-font-size);
}

// .mat-icon {
//   font-size: var(--icon-size);
// }

.mat-icon-align {
  margin-right: var(--nav-item-padding);
  display: flex;
  align-items: center;
}

// mat-nav-list a.mat-list-item {
//   padding-top: var(--nav-item-padding);
//   padding-bottom: var(--nav-item-padding);
//   font-size: var(--app-font-size);
// }

.content {
  padding: calc(var(--app-font-size) * 1.7);
}

.img {
  border-radius: 50%;
  width: calc(var(--app-font-size) * 2);
  height: calc(var(--app-font-size) * 2);
}
.spacer {
  flex: 1 1 auto;
}

.sidenav {
  // width: calc(var(--app-font-size) * 6); // Adjust multiplier as needed
  width: 8rem;
  transition: width 0.3s ease;
}
// .sidenav.opened {
//   // width: calc(var(--app-font-size) * 12); // Adjust multiplier as needed
// }
.sidenav-inner {
  // display: flex;
  // flex-direction: column;
  height: 100%;
}

.sidenav-inner mat-toolbar {
  flex-shrink: 0;
}

/* Push nav list down proportionally with font size */
.sidenav-inner mat-nav-list {
  margin-top: calc(var(--app-font-size) * 2.5);
  transition: margin-top 0.3s ease;
  height: 7rem;
}

button[mat-icon-button] {
  // width: calc(var(--app-font-size) * 2.5);
  // height: calc(var(--app-font-size) * 2.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

button[mat-icon-button] .mat-icon {
  // font-size: calc(var(--app-font-size) * 1);
  transition: font-size 0.3s ease;
}

button[mat-icon-button] img.img {
  // width: calc(var(--app-font-size) * 2);
  // height: calc(var(--app-font-size) * 2);
  transition: all 0.3s ease;
}
.nav-list-non-mobile {
  min-width: 5rem;
}

mat-list-item {
  height: 10rem;
}
