.sidenav-container {
  height: 100vh;
}

.topbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 24px;
}
.mat-icon-align {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

mat-nav-list a.mat-list-item {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
}

.img {
  border-radius: 50%;
}
