.courses-container {
  display: flex;
  // flex-direction: column;
  align-items: center;
  padding: 20px;
  //   margin-left: 1rem;
}
.courses-header {
  text-align: center;
  margin-bottom: 20px;
}
