.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.signUp {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
