<div class="signUp">
  <h1>Signup</h1>
  <p class="description">Enter your email and password to sign up.</p>
</div>

<div class="example-container">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      (blur)="updateErrorMessage()"
      required
    />
    @if (email.invalid) {
    <mat-error>{{ errorMessage() }}</mat-error>
    }
  </mat-form-field>
  <!-- password field -->
  <br />
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" />
    <button
      matIconButton
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</div>
