.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

// mobile phone styles
@media (max-width: 600px) {
  .example-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }
  .description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
// tablet styles
@media (min-width: 600px) and (max-width: 960px) {
  .example-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }
  .description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
// desktop styles
@media (min-width: 960px) and (max-width: 1280px) {
  .example-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }
  .description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
// large desktop styles
@media (min-width: 1280px) {
  .example-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
  }
  .description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2.2rem;
  }
}

.signUp {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
.already-have-account {
  font-size: 1.2em;
  color: #555;
  margin-top: 10px;
}

.signUp {
  margin-top: 128px;
}

.resend-message {
  margin-top: 5px;
  text-align: center;
  font-size: 1.1rem;
}

/* This should be the class of the very first div in your template */
.signup-page-wrapper {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  // min-height: 80vh;       /* Use 100% of the viewport height */
  width: 100%;
  padding: 20px;           /* Prevents touching edges on mobile */
  box-sizing: border-box;
  margin-top: 5rem;
}

.verify-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  /* Removed 'margin: 0 auto' because the wrapper handles centering now */
  text-align: center;

  .mat-form-field {
    width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
  }
}