<nevy11-top-login-signup></nevy11-top-login-signup>
@if (!isEmailSent()) {
<div class="signUp">
  <h1>Signup</h1>
  <p class="description">Enter your email and password to sign up.</p>
</div>

<form class="signup-form" (ngSubmit)="signUp()">
  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="this.formSignUp().email"
        (blur)="updateErrorMessage()"
        required
      />

      @if (errorMessage()) {
      <mat-error>{{ errorMessage() }}</mat-error>
      }
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        [formControl]="this.formSignUp().password"
        matInput
        (blur)="updatePasswordErrorMessage()"
        [type]="hide() ? 'password' : 'text'"
      />
      @if (passwordErrorMessage()) {
      <mat-error>
        {{ passwordErrorMessage() }}
      </mat-error>
      }
      <button
        type="button"
        matIconButton
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Re-enter your password</mat-label>
      <input
        [formControl]="this.formSignUp().confirmPassword"
        matInput
        (blur)="updateConfirmPasswordErrorMessage()"
        [type]="hide() ? 'password' : 'text'"
      />
      @if (confirmPasswordErrorMessage()) {
      <mat-error>
        {{ confirmPasswordErrorMessage() }}
      </mat-error>
      }
      <button
        type="button"
        matIconButton
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="button-container">
    @if (!isEmailSent()) {
    <button mat-raised-button type="submit">Sign Up</button>
    }
  </div>
</form>

}


<div class="button-container">
  <div class="signup-page-wrapper">
  @if (isEmailSent()) {
  <div class="verify-container">
    <h2>Verify your account</h2>
    <p>Please enter the 6-digit code sent to {{ formSignUp().email.value }}</p>

    <mat-form-field appearance="outline">
      <mat-label>6-Digit Code</mat-label>
      <input matInput [formControl]="tokenControl" placeholder="123456" maxlength="6">
    </mat-form-field>

    <div class="otp-actions">
      <button mat-raised-button color="primary" (click)="verifyOTP()">
        Verify Code
      </button>
      <span class="sep"></span>
      <button mat-button (click)="resendVerification()">
        Resend Code
      </button>
    </div>
  </div>

  
  } @else {
  <span class="already-have-account">Already have an account?</span>
  <button
    type="button"
    class="login-btn"
    mat-button
    color="primary"
    (click)="goToLogin()"
  >
    Login
  </button>
  }
  </div>
</div>
