.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

// mobile phone styles
@media (max-width: 600px) {
  .example-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }
  .description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
// tablet styles
@media (min-width: 600px) and (max-width: 960px) {
  .example-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }
  .description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
// desktop styles
@media (min-width: 960px) and (max-width: 1280px) {
  .example-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }
  .description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
// large desktop styles
@media (min-width: 1280px) {
  .example-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
  }
  .description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2.2rem;
  }
}

.signUp {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
.already-have-account {
  margin-right: 10px;
  font-size: 1.2em;
  color: #555;
  margin-top: 10px;
}
.login-btn {
  background-color: #3f51b5;
  color: white;
  border: none;
  // border-radius: 4px;
  cursor: pointer;
}
// .login-btn:hover {
//   background-color: #303f9f;
// }
// .login-btn:focus {
//   outline: none;
//   box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.5);
// }
// .login-btn:active {
//   background-color: #1a237e;
//   box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
// }
