/* Remove default spacing */
body,
html {
  margin: 0;
  padding: 0;
}

//
/* Hero Section */
.hero-section {
  height: calc(100vh - 64px);
  position: relative;
  overflow: hidden;
  color: white;
}

/* Image Container */
.image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Image Styling */
.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.bg-image.active {
  opacity: 1;
  z-index: 1;
}

/* Overlay Text */
.overlay-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center on both axes */
  z-index: 2;
  text-align: center;
  color: white;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}

.overlay-content h1 {
  font-size: 2.5rem;
  margin: 0;
}

/* Top Bar */
.top-bar {
  height: 64px;
  display: flex;
  align-items: center;
}

.brand-title {
  font-size: 20px;
  font-weight: bold;
}

/* Main Content Section */
.content-section {
  padding: 60px 20px;
  background-color: #f8f9fa;
}

// spacer for toolbar
.spacer {
  flex: 1 1 auto;
}

.text-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.scroll-indicator {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation: bounce 2s infinite;
  pointer-events: none; /* Prevent interaction */
}

.scroll-arrow {
  display: block;
  font-size: 2rem;
  margin-top: 5px;
}

/* Smooth up-and-down bouncing animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}
