<mat-toolbar color="primary" class="top-bar">
  <span class="brand-title">E-Learning</span>
</mat-toolbar>

<section
  class="hero-section"
  [ngStyle]="{ 'background-image': currentBackground }"
>
  <div class="overlay-content">
    <h1>Empower Your Learning Journey</h1>
  </div>
</section>

<section class="content-section">
  <h2>Explore Courses</h2>
  <p>
    Discover interactive courses, AI-powered lessons, and personalized study
    tracks.
  </p>
</section>

<!-- <div
  class="hero-section"
  [ngStyle]="{ 'background-image': 'url(' + images[currentImageIndex] + ')' }"
></div>
<div>Hello world</div> -->
