@for (card of cards | async; track card) {
<mat-toolbar color="primary" class="top-bar">
  <!-- <span class="brand-title">Codevia</span> -->
  @if (!card.mobile_device) {
  <mat-icon style="color: #2196f3">star</mat-icon>
  <mat-icon style="color: #2196f3">star</mat-icon>
  } @if (card.mobile_device) {
  <span style="font-size: 1rem; margin-right: 20px">
    <span style="color: #0d47a1">C</span>
    <span style="color: #29b6f6">o</span>
    <span style="color: #7e57c2">d</span>
    <span style="color: #b39ddb">e</span>
    <span style="color: #00e676">V</span>
    <span style="color: #ffa726">i</span>
    <span style="color: #e91e63">a</span>
  </span>
  } @else{
  <span class="logo">
    <span style="color: #0d47a1">C</span>
    <span style="color: #29b6f6">o</span>
    <span style="color: #7e57c2">d</span>
    <span style="color: #b39ddb">e</span>
    <span style="color: #00e676">V</span>
    <span style="color: #ffa726">i</span>
    <span style="color: #e91e63">a</span>
  </span>
  }
  <span class="spacer"></span>
  <button mat-button>
    @if(!card.mobile_device){ <mat-icon>help_outline</mat-icon>} About Us
  </button>
  <button mat-button (click)="home()">
    @if(!card.mobile_device){
    <mat-icon>home</mat-icon>
    }Home
  </button>
  <button mat-button (click)="login()">
    @if(!card.mobile_device){
    <mat-icon>login</mat-icon>
    } Login
  </button>
  <button mat-button (click)="register()">
    @if(!card.mobile_device){<mat-icon>how_to_reg</mat-icon> }Register
  </button>
</mat-toolbar>

<section class="hero-section">
  <div class="image-container">
    <img
      *ngFor="let image of images; let i = index"
      [src]="image"
      [class.active]="i === currentImageIndex"
      class="bg-image"
      loading="eager"
    />
  </div>
  <div class="overlay-content">
    <h1>Empower Your Learning Journey</h1>
  </div>
  @if (showScrollIndicator) {
  <div class="scroll-indicator">
    <span class="scroll-text">Scroll</span>
    <span class="scroll-arrow"> <mat-icon>keyboard_arrow_down</mat-icon> </span>
  </div>
  }
</section>

<section class="content-section">
  <mat-card>
    <mat-card-title>Explore Courses</mat-card-title>
    <mat-card-content>
      <p>
        Discover interactive courses, AI-powered lessons, and personalized study
        tracks.
      </p>

      <div>
        <nevy11-video-promo ngSkipHydration></nevy11-video-promo>
      </div>
      <div>
        <button mat-flat-button color="primary" (click)="login()">
          Show more
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<section class="content-section">
  <h2>Get Started Today</h2>
  <p>
    Sign up now to access a world of knowledge and resources tailored for you.
  </p>
  <button
    class="start_today_btn"
    mat-flat-button
    color="primary"
    (click)="register()"
  >
    Sign Up
  </button>
</section>
<section class="content-section">
  <nevy11-testimonials></nevy11-testimonials>
</section>
<section class="content-section">
  <h2>Why Choose Us?</h2>
  <p>
    Our platform offers a unique blend of interactive learning, AI-driven
    insights, and a supportive community to help you achieve your educational
    goals.
  </p>
</section>
}

<nevy11-landing-footer></nevy11-landing-footer>
