.footer-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.facebook {
  color: #3b5998;
}
.twitter {
  color: #1da1f2;
}
.youtube {
  color: #ff0000;
}

.facebook .youtube .twitter {
  margin-left: 10px;
  margin-right: 10px;
}
