.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

mat-form-field {
  margin-left: 5rem;
  width: 80%;
}

.next_button {
  margin-left: 5rem;
}

.back_next {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  width: 80%;
}
.done {
  display: flex;
  justify-content: center;
}
