@use "@angular/material" as mat;

.light-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

.dark-theme {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        // on-surface: mat.$spring-green-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
