/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$cyan-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* Apply Material baseline styles */
// @include mat.core();

// Light theme
body.light-theme {
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

// Dark theme
body.dark-theme {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
      // You can also use mat.$pink-palette for accent, etc.
    )
  );
}
