@use "@angular/material" as mat;

.light-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$blue-palette,
        // warn: mat.$red-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

.dark-theme {
  // color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$spring-green-palette,
        // warn: mat.$red-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  background-color: var(--mat-sys-surface);

  color: var(--mat-sys-on-surface);
}
