<div class="bottom-stepper">
  <mat-stepper headerPosition="bottom" #stepper>
    <mat-step [stepControl]="profile_picture">
      <ng-template matStepLabel>choose a profile picture</ng-template>

      <mat-card class="avatar-card">
        <mat-card-header>
          <mat-card-title>Profile Picture</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if (previewUrl) {
          <img [src]="previewUrl" class="avatar" />
          } @else {
          <ng-template #uploadIcon>
            <mat-icon class="avatar-icon">photo_camera</mat-icon>
          </ng-template>
          }

          <input
            type="file"
            accept="image/*"
            (change)="onFileSelected($event)"
          />
        </mat-card-content>
      </mat-card>
      <div>
        <button matButton matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="username_group" optional>
      <form [formGroup]="username_group">
        <ng-template matStepLabel>username</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Enter your username"
            formControlName="username"
            required
          />
        </mat-form-field>
        <div class="back_next">
          <button matButton matStepperPrevious>Back</button>
          <button matButton matStepperNext (click)="validate_username()">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="bio_group">
      <form [formGroup]="bio_group">
        <ng-template matStepLabel>short description</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Give us a short bio about yourself"
            formControlName="bio"
            required
          />
        </mat-form-field>
        <div class="back_next">
          <button matButton matStepperPrevious>Back</button>
          <button matButton matStepperNext (click)="validate_bio()">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="done">You are now done.</div>
      <div>Click done to complete the registration process</div>
      <div class="back_next">
        <button matButton (click)="done()">Done</button>
        <button matButton (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
