.terminal-header {
  display: flex;
  align-items: center;
  background-color: #2d2d2d;
  color: #ffffff;
  padding: 8px;
}
.terminal-title {
  margin-left: 8px;
  font-weight: bold;
}
.terminal-content {
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 16px;
  //   height: 50px;
  overflow-y: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
