<!-- @if (this.loader) {
<nevy11-loader></nevy11-loader>
}@else { -->
<div class="video-grid">
  @for (video of videos; track video) {
  <mat-card class="video-card">
    <img mat-card-image [src]="video.thumbnailUrl" alt="{{ video.title }}" />
    <mat-card-content>
      <h3>{{ video.title }}</h3>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button
        mat-flat-button
        color="primary"
        aria-label="Play"
        (click)="playVideo(video)"
      >
        <mat-icon>play_arrow</mat-icon>
        Play
      </button>
    </mat-card-actions>
  </mat-card>
  }
</div>

<!-- } -->
